---
layout: default
---
<div class="breadcrumbs"> <a href="{{site.baseurl}}">Home/Policy</a> &gt; <a href="{{site.baseurl}}{{ page.collection }}">{{ page.collection | capitalize }}</a>
</div>
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <dl>
    <dt>Status</dt>
    <dd>{{ page.status }}</dd>
    <dt>Owner</dt>
    <dd>{{page.owner}}</dd>
    <dt>Adopted</dt>
    <dd>{{page.adopted}}</dd>
    <dt>History</dt>
    <dd>{{page.history}}</dd>
    <dt>Source</dt>
    <dd>{{page.source}}</dd>
    <dt>Modifications</dt>
    <dd><a href="{{ site.github.repository_url }}/commits/gh-pages/{{ page.relative_path }}">View History</a></dd>
  </dl>
</div>
